<!DOCTYPE html>
<html>
<head>
    <title>Lyrics Dreamer</title>
</head>
<body>
<h1>Welcome to the Lyrics Dreamer!</h1>
<p>What would you like to do today?</p>
<a href="{{ url_for('lyrics_generator') }}">Generate Lyrics</a>
<a href="{{ url_for('game') }}">Play the Guess the Artist Game</a>
<p>
    Disclaimer 1: The generated lyrics might contain profanity and other offensive language, especially if the selected
    artist uses such language in their songs. Please do not use if it makes you uncomfortable.<br>
    Disclaimer 2: The artist selection is strongly biased towards my personal taste in music.</p>
</body>
</html>
